<%= content_for(:css) do %>

    <%= stylesheet_link_tag 'dropzone' %>
    <%= stylesheet_link_tag 'basic' %>

<% end %>



<%=content_for(:content) do %>



    <div class="container">
      <div class="row">
        <% if flash.notice %>
            <div class="alert alert-success"><P><%= flash.notice %></p></div>
        <% end %>
        <p>This is the form for creation of your product.</p>
        <%= form_for :request, :url => request.base_url+'/product/create', html: {id:'myForm'} do %>
            <label for="name">Product Name:</label>
            <input type="text" name="name" id="name" class="form-control">
            <label for description> Description</label>
            <input type="text" name="description" id="description" class="form-control" /><br>
            <input type=hidden name="files_list" id='fileslist'>
            <!-- We use this <div> element to initialize our Dropzone -->
            <div id="mydropzone" class="dropzone"></div>
            <!-- This <div> elements shows a suitable message after a successful upload. -->
            <div id="msgBoard"></div>
            <br>
            <input type='submit' value="Create your product">
            </div>
            </div>
        <% end %>
<% end %>
<%= content_for(:javascript) do %>
    <!-- include the dropzone library itself. -->
<%= javascript_include_tag "dropzone" %>
    <script type="text/javascript">
        var AUTH_TOKEN=$('meta[name="csrf-token"]').attr('content');
        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("div#mydropzone",{
            url: "<%= request.base_url %>/uploadfiles",
            autoProcessQueue: false,
            uploadMultiple: true,
            addRemoveLinks:true,
            parallelUploads:10,
            params:{
                'authenticity_token':  AUTH_TOKEN
            },
            successmultiple: function(data,response){

                console.log(response);
                $('#msgBoard').append(response.message).addClass("alert alert-success");
                $('#msgBoard').delay(2000).fadeOut();
                $('#fileslist').val(response.files_list);
                $('#myForm').off('submit').submit();
            }
        });
        $('#myForm').submit(function(e){
            if(myDropzone.getQueuedFiles().length > 0){
                e.preventDefault();
                myDropzone.processQueue();
            }
        });
    </script>
<% end %>